In [24]:
import pandas as pd
import geopandas as gpd
import re

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [32]:
month = "July"

In [2]:
RentalList = pd.read_excel("BLM Rents July 2020.xlsx", header = 4, usecols = 8)

/anaconda3/lib/python3.6/site-packages/pandas/io/excel.py:527: FutureWarning: Passing in an integer for `usecols` has been deprecated. Please pass in a list of int from 0 to `usecols` inclusive instead.
  usecols = _maybe_convert_usecols(usecols)

In [3]:
RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,RENTAL,COUNTY.1,Y/N,Unnamed: 8
0,MTM110982,BLAINE,MONTANA,2029-07-01,40.00,60.0,NaN,NaN,NaN
1,MTM110983,BLAINE,MONTANA,2029-07-01,80.00,120.0,NaN,NaN,NaN
2,MTM110985,BLAINE,MONTANA,2029-07-01,430.50,646.5,826.5,NaN,NaN
3,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4,MTM111016,DAWSON,MONTANA,2029-07-01,160.00,240.0,NaN,NaN,NaN
5,MTM111017,DAWSON,MONTANA,2029-07-01,480.00,720.0,NaN,NaN,NaN
6,MTM111022,DAWSON,MONTANA,2029-07-01,2080.00,3120.0,4080.0,NaN,NaN
7,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
8,MTM110971,MUSSELSHELL,MONTANA,2029-07-01,338.59,508.5,NaN,NaN,NaN
9,MTM110972,MUSSELSHELL,MONTANA,2029-07-01,770.53,1156.5,NaN,NaN,NaN
10,MTM110973,MUSSELSHELL,MONTANA,2029-07-01,240.00,360.0,NaN,NaN,NaN
11,MTM110974,MUSSELSHELL,MONTANA,2029-07-01,1124.09,1687.5,NaN,NaN,NaN
12,MTM110975,MUSSELSHELL,MONTANA,2029-07-01,327.08,492.0,4204.5,NaN,NaN
13,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
14,MTM110986,TOOLE,MONTANA,2029-07-01,240.92,361.5,361.5,NaN,NaN
15,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
16,NMNM128371,RIO ARRIBA,NEW MEXICO,2022-07-01,480.00,960.0,NaN,NaN,NaN
17,NMNM128376,RIO ARRIBA,NEW MEXICO,2022-07-01,160.00,320.0,1280.0,NaN,NaN
18,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
19,OKNM128387,GARVIN,OKLAHOMA,2022-07-01,20.00,40.0,40.0,NaN,NaN
20,NaN,NaN,NaN,NaT,NaN,10792.5,10752.5,NaN,NaN

In [4]:
#dropping blank rows from dataframe using "all"
RentalList.dropna(how = 'all', inplace = True)

In [5]:
RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,RENTAL,COUNTY.1,Y/N,Unnamed: 8
0,MTM110982,BLAINE,MONTANA,2029-07-01,40.00,60.0,NaN,NaN,NaN
1,MTM110983,BLAINE,MONTANA,2029-07-01,80.00,120.0,NaN,NaN,NaN
2,MTM110985,BLAINE,MONTANA,2029-07-01,430.50,646.5,826.5,NaN,NaN
4,MTM111016,DAWSON,MONTANA,2029-07-01,160.00,240.0,NaN,NaN,NaN
5,MTM111017,DAWSON,MONTANA,2029-07-01,480.00,720.0,NaN,NaN,NaN
6,MTM111022,DAWSON,MONTANA,2029-07-01,2080.00,3120.0,4080.0,NaN,NaN
8,MTM110971,MUSSELSHELL,MONTANA,2029-07-01,338.59,508.5,NaN,NaN,NaN
9,MTM110972,MUSSELSHELL,MONTANA,2029-07-01,770.53,1156.5,NaN,NaN,NaN
10,MTM110973,MUSSELSHELL,MONTANA,2029-07-01,240.00,360.0,NaN,NaN,NaN
11,MTM110974,MUSSELSHELL,MONTANA,2029-07-01,1124.09,1687.5,NaN,NaN,NaN
12,MTM110975,MUSSELSHELL,MONTANA,2029-07-01,327.08,492.0,4204.5,NaN,NaN
14,MTM110986,TOOLE,MONTANA,2029-07-01,240.92,361.5,361.5,NaN,NaN
16,NMNM128371,RIO ARRIBA,NEW MEXICO,2022-07-01,480.00,960.0,NaN,NaN,NaN
17,NMNM128376,RIO ARRIBA,NEW MEXICO,2022-07-01,160.00,320.0,1280.0,NaN,NaN
19,OKNM128387,GARVIN,OKLAHOMA,2022-07-01,20.00,40.0,40.0,NaN,NaN
20,NaN,NaN,NaN,NaT,NaN,10792.5,10752.5,NaN,NaN

In [6]:
SerialNumbers = RentalList.loc[:,"LEASE NO."]

In [7]:
SerialNumbers.dropna(inplace = True)

In [8]:
SerialNumbers

0      MTM110982
1      MTM110983
2      MTM110985
4      MTM111016
5      MTM111017
6      MTM111022
8      MTM110971
9      MTM110972
10     MTM110973
11     MTM110974
12     MTM110975
14     MTM110986
16    NMNM128371
17    NMNM128376
19    OKNM128387
Name: LEASE NO., dtype: object

In [11]:
shapefile = gpd.read_file("zip://Master Shapefile 4-2-20.zip")

In [12]:
shapefile.columns

Index(['OBJECTID_1', 'OBJECTID_2', 'OBJECTID', 'LEASE_NO', 'EFFECTIVE',
       'EXPIRATION', 'TOTAL_PAID', 'ACRES', 'COUNTY', 'ST', 'Ownership',
       'Shape_Leng', 'GeneralLoc', 'Due_Year', 'DUE_DATE', 'NO__OF_ACR',
       'HYPERLINK', 'Comments', 'Shape_Le_1', 'Shape_Le_2', 'Shape_Area',
       'geometry'],
      dtype='object')

In [13]:
shapefile["LEASE_NO"]

0            NDM101156
1            NDM101159
2            NDM101160
3            NDM101164
4            NDM101166
5            NDM101169
6            NDM101172
7            NDM101173
8            NDM101180
9            MTM101455
10           MTM101456
11           MTM101458
12           MTM101464
13           MTM101465
14           MTM101475
15           MTM101477
16           NDM101479
17           NDM102132
18           NDM102136
19           NDM102130
20           SDM102222
21           SDM102219
22           SDM102226
23           SDM102664
24           SDM103746
25           SDM103748
26           SDM103750
27           SDM103751
28           SDM103758
29           SDM103761
             ...
1439        NMNM139876
1440        NMNM139877
1441        NMNM139878
1442        NMNM139879
1443        NMNM140301
1444        NMNM140302
1445        KSNM140298
1446    WY2020-03-6024
1447    WY2020-03-6183
1448    WY2020-03-6229
1449    WY2020-03-6230
1450    WY2020-03-6231
1451    WY2020-03-6264
1452    WY2020-03-6317
1453    WY2020-03-6321
1454    WY2020-03-6324
1455    WY2020-03-6331
1456    WY2020-03-6333
1457    WY2020-03-6335
1458    WY2020-03-6342
1459    WY2020-03-6358
1460    WY2020-03-6398
1461    WY2020-03-6399
1462    WY2020-03-6400
1463    WY2020-03-6401
1464    WY2020-03-6402
1465    WY2020-03-6403
1466    WY2020-03-6655
1467    WY2020-03-6601
1468    WY2020-03-6607
Name: LEASE_NO, Length: 1469, dtype: object

In [17]:
RentalShapeFile = shapefile.loc[shapefile["LEASE_NO"].isin(SerialNumbers)]

In [18]:
RentalShapeFile["LEASE_NO"].count()
SerialNumbers.count()

15

15

In [19]:
#mismatching - most likely due to mismatching serial number text

In [25]:
testSerial = SerialNumbers.loc[146]

KeyError: 146

In [26]:
testSerial
re.findall('[\w]+', testSerial)[0]

NameError: name 'testSerial' is not defined

In [27]:
#creating function to run on a pandas series to clean up mistakenly placed special chars at end of serial number on rental spreadsheet
def replaceSpecialChars(serial):
    cleanedSerial = re.findall('[\w]+', serial)[0]
    return cleanedSerial

In [28]:
CleanedSerials = SerialNumbers.apply(lambda x: replaceSpecialChars(x))

In [29]:
RentalShapeFile = shapefile.loc[shapefile["LEASE_NO"].isin(CleanedSerials)]

In [30]:
RentalShapeFile["LEASE_NO"].count()
SerialNumbers.count()

15

15

In [33]:
RentalShapeFile.to_file(month + " 2020 - Rental Tracts.shp")

In [34]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [35]:
#inversing dictionary
statetoInits = {v: k for k, v in states.items()}

In [36]:
RentalList.info()
RentalList["STATE"] = RentalList["STATE"].astype(str)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 20
Data columns (total 9 columns):
LEASE NO.     15 non-null object
COUNTY        15 non-null object
STATE         15 non-null object
EXPIRATION    15 non-null datetime64[ns]
ACRES         15 non-null float64
RENTAL        16 non-null float64
COUNTY.1      7 non-null float64
Y/N           0 non-null float64
Unnamed: 8    0 non-null float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 1.2+ KB

In [37]:
RentalList["St. Initials"] = RentalList["STATE"].apply(lambda x: x.title()).map(statetoInits)

In [38]:
RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,RENTAL,COUNTY.1,Y/N,Unnamed: 8,St. Initials
0,MTM110982,BLAINE,MONTANA,2029-07-01,40.00,60.0,NaN,NaN,NaN,MT
1,MTM110983,BLAINE,MONTANA,2029-07-01,80.00,120.0,NaN,NaN,NaN,MT
2,MTM110985,BLAINE,MONTANA,2029-07-01,430.50,646.5,826.5,NaN,NaN,MT
4,MTM111016,DAWSON,MONTANA,2029-07-01,160.00,240.0,NaN,NaN,NaN,MT
5,MTM111017,DAWSON,MONTANA,2029-07-01,480.00,720.0,NaN,NaN,NaN,MT
6,MTM111022,DAWSON,MONTANA,2029-07-01,2080.00,3120.0,4080.0,NaN,NaN,MT
8,MTM110971,MUSSELSHELL,MONTANA,2029-07-01,338.59,508.5,NaN,NaN,NaN,MT
9,MTM110972,MUSSELSHELL,MONTANA,2029-07-01,770.53,1156.5,NaN,NaN,NaN,MT
10,MTM110973,MUSSELSHELL,MONTANA,2029-07-01,240.00,360.0,NaN,NaN,NaN,MT
11,MTM110974,MUSSELSHELL,MONTANA,2029-07-01,1124.09,1687.5,NaN,NaN,NaN,MT
12,MTM110975,MUSSELSHELL,MONTANA,2029-07-01,327.08,492.0,4204.5,NaN,NaN,MT
14,MTM110986,TOOLE,MONTANA,2029-07-01,240.92,361.5,361.5,NaN,NaN,MT
16,NMNM128371,RIO ARRIBA,NEW MEXICO,2022-07-01,480.00,960.0,NaN,NaN,NaN,NM
17,NMNM128376,RIO ARRIBA,NEW MEXICO,2022-07-01,160.00,320.0,1280.0,NaN,NaN,NM
19,OKNM128387,GARVIN,OKLAHOMA,2022-07-01,20.00,40.0,40.0,NaN,NaN,OK
20,NaN,NaN,nan,NaT,NaN,10792.5,10752.5,NaN,NaN,NaN

In [39]:
RentalList["DI Counties"] = RentalList["COUNTY"] + " (" + RentalList["St. Initials"] + ")"

In [40]:
RentalList

,LEASE NO.,COUNTY,STATE,EXPIRATION,ACRES,RENTAL,COUNTY.1,Y/N,Unnamed: 8,St. Initials,DI Counties
0,MTM110982,BLAINE,MONTANA,2029-07-01,40.00,60.0,NaN,NaN,NaN,MT,BLAINE (MT)
1,MTM110983,BLAINE,MONTANA,2029-07-01,80.00,120.0,NaN,NaN,NaN,MT,BLAINE (MT)
2,MTM110985,BLAINE,MONTANA,2029-07-01,430.50,646.5,826.5,NaN,NaN,MT,BLAINE (MT)
4,MTM111016,DAWSON,MONTANA,2029-07-01,160.00,240.0,NaN,NaN,NaN,MT,DAWSON (MT)
5,MTM111017,DAWSON,MONTANA,2029-07-01,480.00,720.0,NaN,NaN,NaN,MT,DAWSON (MT)
6,MTM111022,DAWSON,MONTANA,2029-07-01,2080.00,3120.0,4080.0,NaN,NaN,MT,DAWSON (MT)
8,MTM110971,MUSSELSHELL,MONTANA,2029-07-01,338.59,508.5,NaN,NaN,NaN,MT,MUSSELSHELL (MT)
9,MTM110972,MUSSELSHELL,MONTANA,2029-07-01,770.53,1156.5,NaN,NaN,NaN,MT,MUSSELSHELL (MT)
10,MTM110973,MUSSELSHELL,MONTANA,2029-07-01,240.00,360.0,NaN,NaN,NaN,MT,MUSSELSHELL (MT)
11,MTM110974,MUSSELSHELL,MONTANA,2029-07-01,1124.09,1687.5,NaN,NaN,NaN,MT,MUSSELSHELL (MT)
12,MTM110975,MUSSELSHELL,MONTANA,2029-07-01,327.08,492.0,4204.5,NaN,NaN,MT,MUSSELSHELL (MT)
14,MTM110986,TOOLE,MONTANA,2029-07-01,240.92,361.5,361.5,NaN,NaN,MT,TOOLE (MT)
16,NMNM128371,RIO ARRIBA,NEW MEXICO,2022-07-01,480.00,960.0,NaN,NaN,NaN,NM,RIO ARRIBA (NM)
17,NMNM128376,RIO ARRIBA,NEW MEXICO,2022-07-01,160.00,320.0,1280.0,NaN,NaN,NM,RIO ARRIBA (NM)
19,OKNM128387,GARVIN,OKLAHOMA,2022-07-01,20.00,40.0,40.0,NaN,NaN,OK,GARVIN (OK)
20,NaN,NaN,nan,NaT,NaN,10792.5,10752.5,NaN,NaN,NaN,NaN

In [41]:
for i in RentalList["DI Counties"].drop_duplicates():
    print(i)

BLAINE (MT)
DAWSON (MT)
MUSSELSHELL (MT)
TOOLE (MT)
RIO ARRIBA (NM)
GARVIN (OK)
nan